::-webkit-scrollbar {
  width: 6px;
  height: 3px;
}

/* gesamte Scrolleiste */

::-webkit-scrollbar-button {

}

/* Pfeil-Buttons */

::-webkit-scrollbar-track {

}

/* Bereich für den Schieberegler */

::-webkit-scrollbar-thumb {
  background-color: #4986b9;
  border-radius: 0px;
}

/* Schieberegler */

::-webkit-scrollbar-corner {
  background-color: #4986b9;
}

/* Größenregler (bei TEXTAREA sichtbar) */

@font-face {
  font-family: fontdefault;
  src: url('fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
  fontface_font-family: fontdefault;
  fontface_src: url('fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: fontbold;
  src: url('fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf');
}

@font-face {
  font-family: fontmonospace;
  src: url('fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf');
}

@font-face {
  font-family: fontsubheadline;
  src: url('fonts/Julius_Sans_One/JuliusSansOne-Regular.ttf');
}

html {
  font-family: fontmonospace;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color: rgb(24, 24, 24);
  background-color: rgb(238, 238, 238);
}

body {
  font-family: fontmonospace;
  margin: 0;
  padding: 0;
  flex-direction: column;
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1;
}

input {
  height: 1.2rem;
  background-color: rgba(0,0,0,0);
  border-radius: 0;
  text-indent: 1rem;
  border: 1px #cccccc solid;
  -webkit-appearance: none;
  margin-bottom: 0.5rem;
}

input.required {
  border: 1px rgb(255, 0, 0) solid;
}

button {
  background-color: rgba(0,0,0,0);
  border: 1px #999999 solid;
  border-radius: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  border: 1px rgb(0, 128, 128) solid;
}

#main input:focus,
#main select:focus,
#main textarea:focus,
#main button:focus {
  outline: none;
  color: rgb(0, 128, 128);
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body * {
  display: flex;
  flex: 1;
}

#header {
  height: 1.5rem;
  flex: 5;
  display: flex;
  background-color: rgb(111, 111, 111);
}

#main {
  height: 100%;
  flex: 60;
  display: flex;
}

#main-left {
  overflow-x: hidden;
  overflow-y: auto;
  flex: 2;
  flex-wrap: wrap;
  align-content: flex-start;
  border-right: 1px #adadad solid;
}

#main-right {
  display: none;
  flex: 3;
  flex-direction: column;
  font-family: fontmonospace;
  font-size: 70%;
}

#main-right .error,
#main-right .live {
  max-height: 2rem;
  border-bottom: 1px rgb(0, 0, 0);
  padding-top: 1rem;
  padding-left: 1rem;
  overflow: hidden;
}

#main-right .code {
  max-height: 2rem;
  border-bottom: 1px rgb(0, 0, 0);
  padding-top: 1rem;
  padding-left: 1rem;
  overflow: hidden;
}

#main-right .error {
  color: rgb(255, 0, 0);
  padding-top: 1rem;
  padding-left: 1rem;
  overflow: hidden;
}

#main-right .output {
  padding-top: 1rem;
  padding-left: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

#page-edit-list {
  flex-direction: column;
}

#page-edit-list .item {
  flex-direction: column;
  min-height: 7rem;
  max-height: 7rem;
  /*background: linear-gradient(to bottom,#1d1d1d 0,#303030 100%);*/
  border-top: 1px #000000 solid;
  border-bottom: 1px #2b2b2b solid;
  padding-top: 1rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 1rem;
}

/*
#page-edit-list .item:nth-child(even) {
  background: linear-gradient(to bottom,#484848 0,#323232 100%);
}

#page-edit-list .item:nth-child(odd) {
  background: linear-gradient(to bottom,#1d1d1d 0,#303030 100%);
}
*/

.shellbutton {
  flex-basis: 40%;
  height: 7rem;
  /*background: linear-gradient(to bottom,#303030 0,#1d212c 100%);*/
  margin-top: 0.3rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  padding: 0.5rem;
}

.shellbutton .title {
  /*background: linear-gradient(to bottom,#303030 0,#1d212c 100%);*/
  font-size: 140%;
}

.shellbutton.spinner {
  background-color: rgb(0, 128, 128);
  color: #fff !important;
}

#header button {
  opacity: 0.5;
}

#header button:hover {
  opacity: 0.9;
}

#toolbar-edit {
  background-image: url('img/machine2.svg');
  background-size: auto 60%;
  background-position: 1rem center;
  background-repeat: no-repeat;
}

#toolbar-save {
  background-image: url('img/floppy5.svg');
  background-size: auto 60%;
  background-position: 1rem center;
  background-repeat: no-repeat;
}

#toolbar-console {
  background-image: url('img/presentation2.svg');
  background-size: auto 60%;
  background-position: 90% center;
  background-repeat: no-repeat;
}